body {
    background-color: rgb(255, 254, 254);
    color: rgb(95, 70, 67);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

header img {
    height: 50px;
}

a {
    color: rgb(95, 70, 67);

}

h1, h2, h3{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;   
    margin-bottom: 10px; 
}

section #locations {
    margin: 10px;
}

nav{
    margin-left: 100px;
}

nav ul li{
    background: rgb(187, 115, 107);
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    text-align: center;
    color: rgb(243, 243, 243);
}

nav ul li p{
    font-size: 11px;
    
}

#open{
    text-align: center;
}
span{
    height: 100px;
}
#seattle-view{
    width: 100%;
    height: 100px;
}

section {
    margin: 30px;
}

section .product{
    border-top: 2px solid rgb(187, 115, 107);
    border-bottom: 2px solid rgb(187, 115, 107);
    display: inline-block;
    width: 30%;
    margin: 10px;
}

section.product img{
float: left;
width: 100%;
margin: 10px;
}


legend{
    font-size: 24px;
    font-weight: bold;
}

form{
    margin: 10px;
    padding: 10px;
    background: rgb(243, 231, 226);
}

label {
    font-weight: bold;
}

table input{
    width: 15px;
}

input {
    border-radius: 5px;
    padding:5px;
}


p {
    font-size: 20px;
    margin: 10px;
}

#salmon{
    width: 700px;
    margin-left: 300px;
    margin-top: 20px;
}

table, th {
    background-color: rgb(243, 231, 226);
    border-bottom: 5px solid black;
    margin: 10px;
    padding: 12px;
    text-align: left;
    font-size: 20px;

 }

 td{
     border-bottom: 1px solid black;
     padding: 12px;
     font-size: 20px;
     background-color: rgb(255, 253, 253);
 }

article img {
    float: left;
    width: 100px;
}

article {
    margin: 20px;
    font-size: 16px;
}

footer p {
    font-size: 15px;
    color: rgb(95, 70, 67);
    margin: 10px;
    width: 100%;
}


#fimage {
    float: left;
    width: 100px;
}